Repository opencast/annotation-tool, pull requests merged in 2023-07, with the labels that each got.

#610 Just `stylelint` things
  .github/workflows/m2.yml
  frontend/.stylelintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pom.xml
Labels: dependencies, frontend

#607 Fix db compatibility issues with Opencast 13
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/endpoint/ExtendedAnnotationsRestService.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/ExtendedAnnotationServiceJpaImpl.java
  opencast-backend/annotation-impl/src/test/java/org/opencast/annotation/endpoint/TestRestService.java
  opencast-backend/annotation-impl/src/test/java/org/opencast/annotation/impl/ExtendedAnnotationServiceJpaImplTest.java
  pom.xml
Labels: backend

#611 Update `h2`
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/AnnotationDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/CategoryDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/CommentDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/LabelDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/ScaleDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/ScaleValueDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/TrackDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/UserDto.java
  opencast-backend/annotation-impl/src/main/java/org/opencast/annotation/impl/persistence/VideoDto.java
  opencast-backend/annotation-impl/src/main/resources/META-INF/persistence.xml
  pom.xml
Labels: backend, dependencies
